go 1.23.11

toolchain go1.23.11

use (
	./api-gateway
	./services/account
	./services/admin
	./services/booking
	./services/employee
	./services/inventory
	./services/notification
	./services/payment
)
