name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  link:
    name: Lint & Validate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Install dependencies
        run: |
          go mod download
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
          go install github.com/swaggo/swag/cmd/swag@latest

      - name: Run linter
        run: golangci-lint run ./...

      - name: Generate Swagger docs
        run: swag init --parseDependency --parseInternal
